<ion-header>
    <ion-navbar color="primary">
        <button menuToggle ion-button>
            <ion-icon name = "menu"></ion-icon>
        </button>
        <ion-title>Elite Schedule</ion-title>
    </ion-navbar>
    <ion-toolbar color = "secondary">
        <ion-title>My Team</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
        <p>You are not currently following any Team.</p>
        <p>First select a tournment, then you can follow teams from the team page.</p>
        <button ion-button (click) = "goToTournaments()">Find a Tournament</button>
</ion-content>